<a href="https://colab.research.google.com/github/sim-mautner/cs1010-22t3/blob/main/lectures/04_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> COMP1010<br>
> Week 1-3

> Topic 3.4<br>
> Collections

# 1 - Lists

You have 4 students in the class. Create variables to store their project grades.

In [1]:
student_1_project_grade = 15
student_2_project_grade = 18
student_3_project_grade = 10
student_4_project_grade = 12

What happens when you have 10 students in the class? Or 100? I hear there's at least one COMP course with 1000 students.

Lists are:
* Used to store multiple items in one variable
* Created using square brackets (eg `my_list = []`)
* Ordered
* Changeable
* Allow duplicate values

As always (in Python), lists are indexed from 0.

Create a list. (Topic suggestions welcome in chat.)

In [7]:
favourite_foods = []
print(favourite_foods)

[]

Print the list.

In [4]:
print(favourite_foods)

[]

Append (add to the end) an element to the list. (And print it again.)

In [8]:
favourite_foods.append("Enchiladas")
print(favourite_foods)

['Enchiladas']

Print out the length of the list.

In [9]:
print(len(favourite_foods))

1

Add some more elements to the list (using `append` and `insert`). Sort the list. (And print it again.)

In [10]:
favourite_foods.append("Pizza")
print(favourite_foods)

['Enchiladas', 'Pizza']

In [12]:
favourite_foods.insert(0, "Chocolate")
print(favourite_foods)

['Chocolate', 'Enchiladas', 'Pizza']

In [13]:
favourite_foods.insert(2, "Banana")
print(favourite_foods)

['Chocolate', 'Enchiladas', 'Banana', 'Pizza']

Can we sort the list backwards?

In [17]:
favourite_foods.sort(reverse=True)
print(favourite_foods)

['Pizza', 'Enchiladas', 'Chocolate', 'Banana']

Count the number of times an element occurs in the list.

In [18]:
favourite_foods.append("Strawberries")
favourite_foods.append("Strawberries")
favourite_foods.append("Strawberries")
print(favourite_foods)

['Pizza', 'Enchiladas', 'Chocolate', 'Banana', 'Strawberries', 'Strawberries', 'Strawberries']

In [19]:
num_strawberries = favourite_foods.count("Strawberries")
print(num_strawberries)

3

In [20]:
print(favourite_foods.count("strawberries"))

0

In [21]:
print(favourite_foods.count("Chocolate"))

1

Print out the element at index 2.

In [23]:
favourite_foods[2]

'Chocolate'

In [24]:
print(favourite_foods[2])

Chocolate

In [25]:
print(len(favourite_foods))

7

What happens if we try to print (or access, or assign) an index which is larger than the length of the list?

In [26]:
print(favourite_foods[7])

# An IndexError occurs if (for example) your list has 7 elements (0,1,2,3,4,5,6)
# and you try get element at index 7,8,9...

IndexError: ignored

Change the element at index 1 to be different. Print the list again.

In [27]:
print(favourite_foods)

['Pizza', 'Enchiladas', 'Chocolate', 'Banana', 'Strawberries', 'Strawberries', 'Strawberries']

In [28]:
favourite_foods[1] = "Sushi"
print(favourite_foods)

['Pizza', 'Sushi', 'Chocolate', 'Banana', 'Strawberries', 'Strawberries', 'Strawberries']

Remove some elements from the list. (Removing by element, popping by index.) (Printing the list each time.) Remove by element and by index.

In [29]:
favourite_foods.remove("Strawberries")
favourite_foods

['Pizza', 'Sushi', 'Chocolate', 'Banana', 'Strawberries', 'Strawberries']

In [30]:
favourite_foods.pop(2)
favourite_foods

['Pizza', 'Sushi', 'Banana', 'Strawberries', 'Strawberries']

Clear the list. (And print it again.)

In [31]:
favourite_foods.clear()
favourite_foods

[]

In [32]:
# Question: can we switch places in the list even if we don't know what's inside the list?
favourite_foods = ["Pizza", "Sushi", "Banana", "Strawberries"]
# Task: Swap "Pizza" (index 0) with "Strawberries" (index 3)
temp = favourite_foods[0]
favourite_foods[0] = favourite_foods[3]
print(favourite_foods)

['Strawberries', 'Sushi', 'Banana', 'Strawberries']

In [33]:
print(temp)

Pizza

In [34]:
favourite_foods[3] = temp
print(favourite_foods)

['Strawberries', 'Sushi', 'Banana', 'Pizza']

In [45]:
print(favourite_foods[-1])

Pizza

Lists are also handy in some other situations. For example, can we use use a list to simplify our [months of the year](#eg_months_cell) example?

In [47]:
def months_of_year(num):
    # check num is an int
    if str(type(num)) == "<class 'int'>":
        index_to_get = num-1

        # check index is in range
        if index_to_get < 0 or index_to_get > 11:
            return ""

        months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        return months[index_to_get]
    else:
        return ""

In [48]:
assert months_of_year(1) == "Jan"
assert months_of_year(2) == "Feb"
assert months_of_year(3) == "Mar"
assert months_of_year(4) == "Apr"
assert months_of_year(5) == "May"
assert months_of_year(6) == "Jun"
assert months_of_year(7) == "Jul"
assert months_of_year(8) == "Aug"
assert months_of_year(9) == "Sep"
assert months_of_year(10) == "Oct"
assert months_of_year(11) == "Nov"
assert months_of_year(12) == "Dec"
assert months_of_year("1") == ""
assert months_of_year("Jan") == ""
assert months_of_year(0) == ""
assert months_of_year(13) == ""

In [46]:
months_of_year(0)

'Dec'

Can we find out if an element is in the list? (Without searching through the list one by one.)

In [49]:
favourite_foods

['Strawberries', 'Sushi', 'Banana', 'Pizza']

In [50]:
"Strawberries" in favourite_foods

True

In [ ]:
if "Chocolate" not in favourite_foods:
    favourite_foods.append("Chocolate")

Can we loop through the list one by one?

In [52]:
for food in favourite_foods:
    print(f"I like {food}.")

I like Strawberries.
I like Sushi.
I like Banana.
I like Pizza.

Can we join two lists together? (aka What happens when we + two lists?)

In [53]:
almost_as_good_foods = ["Fermented tofu", "Lasagna", "Frogs legs", "Pie"]
great_foods = favourite_foods + almost_as_good_foods
print(great_foods)

['Strawberries', 'Sushi', 'Banana', 'Pizza', 'Fermented tofu', 'Lasagna', 'Frogs legs', 'Pie']

Can lists contain lists? How would we access it? How would we print it?

In [54]:
foods = [
    favourite_foods,
    almost_as_good_foods,
    ["Vegemite icecream", "Coriander", "Olives"]
]

In [55]:
print(foods)

[['Strawberries', 'Sushi', 'Banana', 'Pizza'], ['Fermented tofu', 'Lasagna', 'Frogs legs', 'Pie'], ['Vegemite icecream', 'Coriander', 'Olives']]

In [56]:
for list_of_foods in foods:
    print(list_of_foods)

['Strawberries', 'Sushi', 'Banana', 'Pizza']
['Fermented tofu', 'Lasagna', 'Frogs legs', 'Pie']
['Vegemite icecream', 'Coriander', 'Olives']

In [57]:
foods[1]

['Fermented tofu', 'Lasagna', 'Frogs legs', 'Pie']

In [58]:
foods[1][3]

'Pie'

In [59]:
# Question: can we create a list with 2 or more values like name and height at the same time or we need to create 2 lists

names_and_heights = [
    ["Sim", 150],
    ["Arisa", 145],
    ["Dee", 155]
]

for sub_list in names_and_heights:
    print(sub_list[1])

names_and_heights = [
    ["Sim", "Arisa", "Dee"],
    [150, 145, 155]
]

150
145
155

Could we make the game Tic Tac Toe?

In [77]:
def print_board(board):
    print("  A B C")
    row_up_to = 1
    for row in board:
        # Print out the row we are up to
        print(row_up_to, end=" ")
        for cell in row:
            print(cell, end=" ")
        # After the row, go onto the next line
        print()
        # Update the row number we are up to
        row_up_to = row_up_to + 1


# Computer program starts here

# Use a list of lists to create the board
board = [
    ['-', '-', '-'],
    ['-', '-', '-'],
    ['-', '-', '-']
]

print_board(board)

player_turn = 'X'

# TODO Put more of the game code into functions. (NTH)
# Eg convert_input_to_index, switch_player

# TODO FIXME 'while True' means the game will never "end".
    # I should fix this so that it stops when the game is over.
    # Either with a full board, or if someone gets 3 in a row. (MVP)
while True: 
    col_letter = input("Enter column: ")
    row_number = input("Enter row: ")

    # TODO check that col_letter is A,B or C, check that row_number is 1,2 or 3. (NTH)

    # Convert the user's input, into the indexs into the board
    if col_letter == "A":
        col = 0
    elif col_letter == "B":
        col = 1
    elif col_letter == "C":
        col = 2

    if row_number == "1":
        row = 0
    elif row_number == "2":
        row = 1
    elif row_number == "3":
        row = 2

    # TODO check the selected cell is not already taken (NTH)

    board[row][col] = player_turn

    print_board(board)

    # Switch player
    if player_turn == 'X':
        player_turn = 'O'
    else:
        player_turn = 'X'

  A B C
1 - - -
2 - - -
3 - - -
Enter column: A
Enter row: 3
  A B C
1 - - -
2 - - -
3 X - -
Enter column: B
Enter row: 2
  A B C
1 - - -
2 - O -
3 X - -
Enter column: C
Enter row: 3
  A B C
1 - - -
2 - O -
3 X - X
Enter column: B
Enter row: 3
  A B C
1 - - -
2 - O -
3 X O X
Enter column: C
Enter row: 1
  A B C
1 - - X
2 - O -
3 X O X
Enter column: B
Enter row: 1
  A B C
1 - O X
2 - O -
3 X O X

KeyboardInterrupt: ignored

How can we show that the order matters in a list?

# 2 - A warning about loops

Changing a list (or other collection), while looping over it, can cause unwanted results.

# 3 - Dictionaries

In the real world, dictionaries let us look up *words* and find *meanings*.
In Python, dictionaries let us look up *keys* and find *values*.

Like a list, but with meaningful keys instead of indexes 0, 1, 2...

In [ ]:
# Question: can we create a list with 2 or more values like name and height at the same time or we need to create 2 lists

Create a dictionary mapping classes to tutor or lecturer.

Which tutor teaches H12A?

Can we add another class to the dictionary?

Can we change which tutor takes a class?

Two tutors have swapped classes. How would we go about updating the dictionary?

Obfuscation

Is there another way to solve this problem?

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

Dictionaries are:
* ordered*
* changeable
* does not allow duplicates

Note: As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

What happens if we try and put a duplicate entry into a dictionary?

Can we loop through a dictionary and print out all the keys?

Using what we know about dictionaries, how could we use our loop through the keys, to access all the information?

Is there a more concise way to display/use all the data in a dictionary?

### Text Analysis Using Dictionaries: E-mail Example

This list contains the e-mail addresses of 4 different students.

In [ ]:
emails = ["z1234567@student.unsw.edu.au", "z7654321@unsw.edu.au", "z7891234@ad.unsw.edu.au", "z1357924@student.unsw.edu.au"]

Can we build a dictionary containing the Zids as keys and the e-mail addresses as values?

How many students prefer each e-mail domain?

Can we group students by their preferred e-mail domain?

# 4 - Tuples

Tuples are:
* ordered
* unchangeable
* allows duplicates

In Python, Tuples are like lists, with on key difference. They are immutable. That means they cannot be changed after they have been created. In this way, they are similar to strings. They are created (defined) using the () (rather than [ ] like in lists and { } like in dictionaries).

Can we use a tuple to return several values from a function?

When visiting a theme park, many rides require you to be a certain height before you can ride them.

At a specific park there are:

* Red Riders: 85-105cm tall. They have access to 9 rides.
* Green Riders: 106-131cm tall. They have access to 21 rides.
* Yellow Riders: 132cm and taller. They have access to 27 rides.

Write a function which takes in the user's height in cm (as a parameter) and returns a string ("Red Rider", "Green Rider" or "Yellow Rider") and the number of rides they have access to.

Write a function which asks the user for their height and then calls the function, and displays the results.

In COMP1010, we are not going to use Tuples in more detail than this. If you are interested in further exploring this topic I recommend:
* [W3Schools Tuples](https://www.w3schools.com/python/python_tuples.asp)
* [Tutorials Point Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

# 5 - Sets

We aren't going to cover Python Sets in COMP1010. If you are interested in this form of collection, I recommend:
* [W3Schools Sets](https://www.w3schools.com/python/python_sets.asp)

# 6 - Complex Data Structures

## 1 - House Hunting

The following cell defines a list of houses for sale. It includes their address, number of bedrooms and bathrooms, price, and features (garage, pool, granny flat, etc.)

In [ ]:
houses = [
    { 
        "address": "42 Wallaby Way, Sydney", 
        "bedrooms": 3, 
        "bathrooms": 2, 
        "features": ["garage", "pool"] 
    },
    { 
        "address": "123 Fake Street, Mosman", 
        "bedrooms": 6, 
        "bathrooms": 3, 
        "features": ["pool", "granny flat"]     
    },
    { 
        "address": "1 High Street, Kensington", 
        "bedrooms": 2, 
        "bathrooms": 1, 
        "features": [] 
    },
    { 
        "address": "109 Kirribilli Ave, Kirribilli", 
        "bedrooms": 10, 
        "bathrooms": 7, 
        "features": ["garage", "pool", "wine cellar", "tennis court"] 
    }
]


Write the function `find_houses(houses, bedrooms, bathrooms, features)` that returns a list of the addresses of all the houses with at least the given number of bedrooms and bathrooms and at least the given list of features.

**NOTE:** Don't assume the list of houses or set of possible features is constrained to what is written above. Your function should still work if new houses were added to the above list.

Use this cell to test your function:

In [ ]:
assert find_houses(houses, 3, 1, ["garage"]) == ["42 Wallaby Way, Sydney", "109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 6, 4, []) == ["109 Kirribilli Ave, Kirribilli"]
assert find_houses(houses, 1, 1, ["granny flat"]) == ["123 Fake Street, Mosman"]

# 7 - Data Types Revisited: NoneType

`None` is a special value in Python we can use to represent values that are unknown.

**Important Info**:

* The type of `None` is `NoneType`. It is the only value of that type.
* Python has special support for dealing with `None` values in `if` statements.

Write a function `maximum(numbers)` that finds the maximum number in a list.

Copy the table from topic 3.1.6: Data Types here, and fill in an extra row for the `NoneType` data type.