<a href="https://colab.research.google.com/github/sim-mautner/cs1010-22t3/blob/main/3-ppf/01_first_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Topic 3<br>
> Python and Programming Fundamentals<br>
> Week 1-3

> Topic 3.1<br>
> First Concepts

# 1 - Introduction to Python, Programming, and Variables

## First Python program

What is 1 + 1?

In [ ]:
1 + 1

2

A shop is 12 metres by 8 metres. Social distancing rules say that there should be no more than 1 person for every 4 square meters. How many people can be in the shop at once?

A student has received marks for a course. They got:

* 75% in the first assignment, which is worth 20% of the course mark
* 80% in the second assignment, which is worth 30% of the course mark
* 60% in the final exam, which is worth 50% of the course mark

What is their overall course mark?

## Python on the Forums

You can copy blocks of Python code into a forum post, using the <> button.

## Variables

* To some extent, **variables** are comparable to the cells on a spreadsheet.
* You can also think of them as a box. With a label on it.
* We can put a **value** into a variable. And change it as needed.

Create a variable.

Change the value in the variable.

Take the value in the variable, add 1 to it, and store it back into the variable.

See slides for a step by step of what's happening here.

## Variable Naming

See Code Style Guide on course website.

## Order Matters

* A computer program is a set of instructions.
* Like the method of a recipe, the order in which the instructions are given, and executed, matters.

Before running the code below, try and guess the value of x at the end of the program.

Guess:

Actual:

In [ ]:
x = 0
x = x + 1
x = 5
print(x)

5

Guess:

Actual:

In [ ]:
x = 0
x = 5
x = x + 1
print(x)

6

## Comments

* Ignored by the computer
* Start with a `#`
* Used to help programmers read and understand their code (and make notes for themselves to come back and do things later)

In [ ]:
#This is not a comment
# this is a comment
x=0
#x = x + 1
print(x)

0

## Learning Programming - What happens if... ?

* A big part of programming is "trying stuff and seeing what works".
* Ask questions.
* Investigate.
* Optional: Record your answers in your journal.

# 2 - Strings

* A **string** is a sequence of characters.
* A **character** is a letter, or space, or piece of punctuation.
* Basically, text.
* It is held together by quotes.

In [ ]:
eg_1 = "This is a string."
print(eg_1)
eg_2 = 'This is another string.'
print(eg_2)

This is a string.
This is another string.

What happens if we want to have quotes inside our string?

In [ ]:
quotes_inside_string = "Single quotes 'inside' my string."
print(quotes_inside_string)
quotes_inside_string = 'Double quotes "inside" my string.'
print(quotes_inside_string)

Single quotes 'inside' my string.
Double quotes "inside" my string.

How can we make this work?

In [ ]:
quotes_inside_string = "Example of \"double quotes\" inside double quoted string."
print(quotes_inside_string)

Example of "double quotes" inside double quoted string.

What if we want to display: dad's dog said "bark bark"

In [ ]:
text = 'dad\'s dog said "bark bark"'
print(text)

dad's dog said "bark bark"

In [ ]:
text = "dad's dog said \"bark bark\""
print(text)

dad's dog said "bark bark"

What happens if we try to add strings together?

In [ ]:
print("hello "+"there")
str_1 = "something "
str_2 = "interesting"
print(str_1 + str_2)

hello there
something interesting

What happens if we try to multiply a string by a number?

In [ ]:
print("hello " * 5)

hello hello hello hello hello

What happens if we try to multiply a string by a string?

In [ ]:
print("hello " * 'something else')

TypeError: ignored

Can we extract individual characters?

In [ ]:
str_1 = "hello"
print(str_1[1])

e

Can we change individual characters?

In [ ]:
str_1[1] = 'p'

TypeError: ignored

* Strings are a sequence of characters (or **elements**).
* Each character in the sequence has a number, this number is often referred to as the **index**.
* When we talk about sequences, each **element** has an **index**.
* You can also think of a string as a street with lots of houses.
  * The string's name is the name of the street.
  * The **index** is the house number.
  * The **element** (or character) is who lives there.

 <img width="40%" src="https://i.imgur.com/FuUEFhA.png" />

## What is wrong with programmers?

<img width="40%" src="https://i.imgur.com/NSxLS8D.png" />

Important info:

* Programmers start counting from 0
* This is a common source of errors for new programmers

If there is a num in the str after extracting, what type will it be?

In [ ]:
text = "h78yu"
num_part_of_text = text[1:3]
print(num_part_of_text)
print(type(num_part_of_text))

78
<class 'str'>

## Back to Strings

In [1]:
example = "something interesting"

Can we extract parts of strings?

In [ ]:
print(example[5])

h

In [ ]:
print(example[1:4])

ome

What happens if we put a negative number in as the index?

In [ ]:
print(example[-1])

g

In [ ]:
print(example[-5:-4])

s

Can we get the length of a string?

In [2]:
len(example)

21

Can we count the number of e's in a string?

In [9]:
example.count('e')

3

Can we replace the the e's with a's?

In [4]:
print(example.replace('e','a'))

somathing intarasting

### Obfuscation
Solve the problem described in this text.

> Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'

In [8]:
text = "Oh no, somaona hes dona somathing tarribla to my writing. Thay'va sweppad eround tha lattar 'e' end tha lattar 'a'"
text = text.replace('e', '$')
print(text)
text = text.replace('a', 'e')
print(text)
text = text.replace('$', 'a')
print(text)

Oh no, somaona h$s dona somathing tarribla to my writing. Thay'va sw$ppad $round tha lattar '$' $nd tha lattar 'a'
Oh no, someone h$s done something terrible to my writing. They've sw$pped $round the letter '$' $nd the letter 'e'
Oh no, someone has done something terrible to my writing. They've swapped around the letter 'a' and the letter 'e'

In [7]:
text = "a e"
text = text.replace('e', '$')
print(text)
text = text.replace('a', 'e')
print(text)
text = text.replace('$', 'a')
print(text)

a $
e $
e a

# 3 - Functions and Methods

## Aside: Functions vs Methods

Functions:
* **len** is one of the **built-in functions** in Python
* other built-in functions can be found [here](https://www.w3schools.com/python/python_ref_functions.asp)
* to call (use) a function: `function_name(variable)`
* functions either display or return a value

Methods:
* **count** is one of the methods which can be executed on a string in Python
* other string methods can be found [here](https://www.w3schools.com/python/python_ref_string.asp)
* to call (use) a method: `variable.function_name()` or `variable.function_name(other, parameters, here)`

## Storing the Results of a Function or Method Call

Can we get the length of a string and store it in a variable?

In [10]:
len_of_example = len(example)
print(len_of_example)

21

Can we count the number of e's in a string and store it in a variable?

In [11]:
num_es_in_example = example.count('e')
print(num_es_in_example)

3

# 4 - Printing Literals and Variables

* Until now we could only display one thing at the end of each code block.
* To display more frequently, we can use the `print()` function.
* `print()` is a built-in function, so the "stuff to print" goes inside the brackets.

# 5 - Special Characters

Strings can contain special characters that either can't be visualised or can't be typed on most keyboards.

These include:
* The "newline" character.
  * Indicates that any characters after it should go on a new line.
  * Written as "\n"
* Characters from alphabets other than the "latin" alphabet.
* Emoji!
  * Written as "\N{name of the emoji}"
  * You can look up names [here](https://emojipedia.org)

Can we create a string with this box in it?

```
+-----+
|     |
|     |
|     |
+-----+
```

In [13]:
box_string = "+-----+\n|     |\n|     |\n|     |\n+-----+"
print(box_string)

+-----+
|     |
|     |
|     |
+-----+

What if we actually want to print "\n"?

In [14]:
print("Here is how you print \\n")

Here is how you print \n

Can we take a string with spaces between the words, and change it so that each word appears on a different line?

In [16]:
example_on_separate_lines = example.replace(' ', '\n')
print(example_on_separate_lines)

something
interesting

Can we change it back?

In [17]:
example_on_same_line = example_on_separate_lines.replace('\n', ' ')
print(example_on_same_line)

something interesting

Can we describe 2020 with Emoji?

In [18]:
print("\N{Face with Medical Mask}")

😷

In [20]:
print("\N{Penguin}")

🐧

# 6 - Data Types

* Each variable has a **data type**.
* So far we have looked at **ints** (numbers) and **strings** (text).
* The type of the variable determines its behaviour. (Eg the difference between adding two ints together, or adding two strings together.)
* A list of data types in Python can be found here: [https://www.w3schools.com/python/python_datatypes.asp](https://www.w3schools.com/python/python_datatypes.asp)

Given a variable can we find out it's data type?

What happens when we try to add two values together, when they are of different types?

Can we change the type of a variable?

Changing the type of a variable is called **casting**. We can cast variables to different types, as long as they can be converted.

What happens if we try to cast a variable to a type it is incompatible with?

In [21]:
eg1 = "15"
eg2 = int(eg1)

In [22]:
eg1 = "hello"
eg2 = int(eg1)

ValueError: ignored

In [26]:
eg1 = 12345
eg2 = str(eg1)
print(eg1)
print(eg2)
print(type(eg1))
print(type(eg2))

12345
12345
<class 'int'>
<class 'str'>

Can you combine strings and variables of different data types in a `print()` statement without casting?

In [29]:
print("Our first example is "+str(eg1)+" and our second example is "+eg2)

Our first example is 12345 and our second example is 12345

Fill in the following summary of data types:


Data Type | Declaration Examples | Printing Examples
---|---|---
 | |
 | |
 | |

# 7 - F-Strings

More information about f-strings can be found [here](https://realpython.com/python-f-strings/#f-strings-a-new-and-improved-way-to-format-strings-in-python).

In [30]:
print(f"Our first example is {eg1} and our second example is {eg2}.")

Our first example is 12345 and our second example is 12345.

In [31]:
print("this
is
what
would 
happen")

SyntaxError: ignored

In [35]:
print("this is my text\nit has some newlines in it\nto make my text go over\n" \
      "several lines")

this is my text
it has some newlines in it
to make my text go over
several lines

In [32]:
print("""this is my text
it has some newlines in it
to make my text go over
several lines""")

this is my text
it has some newlines in it
to make my text go over
several lines

In [34]:
name = "Sim"
awesome_paragraph = f"""Hello, my name is {name}.
This is a long introduction paragraph.

Sometimes there are even two newlines in a row.
Cool, right?"""

print(awesome_paragraph)

Hello, my name is Sim.
This is a long introduction paragraph.

Sometimes there are even two newlines in a row.
Cool, right?

# 8 - Modulo Operator

So far we have covered +, -, *, / with integers.

The modulo operator, %, returns the remainder when we divide by a number.

In [36]:
5+7

12

In [37]:
17-19

-2

In [38]:
15*2

30

In [39]:
15/3

5.0

In [40]:
15/2

7.5

In [41]:
15%2

1

In [42]:
12%5

2